global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "dotnet-api"
    scheme: https
    metrics_path: /metrics
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets: ["host.docker.internal:7098"]
